* {
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: 'Delius Unicase', sans-serif;
  background: #FFFFFF;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  margin: 0;
}