header {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  background: #FFFFFF;
  top:0;
  left: 0;
  z-index: 1;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  margin-top: 85px;
}
.ul-header {
  display: flex;
  gap: 10px;
}
.ul-header li {
  font-family: 'Staatliches';
  line-height: 28px;
  font-size: 22px;
  letter-spacing: 0.03em;
}
.info-header {
  display: flex;
  align-items: center;
}
.info-header p {
  margin-right: 50px;
}
header .container p {
  font-family: 'TourneyBold';
  font-size: 22px;
  line-height: 18px;
  letter-spacing: 0.04em;
  transform: matrix(1, 0, 0, 1, 0, 0);
  color: #000000;
}
.logo {
  width: 238px;
  height:54px;
}
 article {
   margin-bottom: 70px;
 }

.sub-title {
  display: flex;
  gap: 10px;
  font-family: 'Francois One';
  font-size: 36px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 40px;
}
.sub-title span {
  font-family: 'Farro';
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: none;
  font-weight: 300;
}
.text p {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  margin-bottom: 40px;
}
.section {
   text-decoration: underline;
}
.color-text {
  background-color: #bcbcbc;
}


.sticky {
  display: grid;
  justify-content: center;
  grid-template-columns: 385px 800px;
  gap: 30px;
  align-items: start;
  margin-bottom: 500px;
}

.sticky__nav {
  position: sticky;
  top: 85px;
}


.sticky__nav li {
  font-family: 'Francois One';
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-bottom: 1px solid #C9C9C9;
  margin-bottom: 70px;
}
.sticky__nav li a {
  color: #000000;
}
.sticky__nav li:last-child {
  margin-bottom: 0;
}
.line {
  width: 100px;
  height: 8px;
  background: #000000;
  margin-bottom: 20px;
}
.bg {
  position: fixed;
  top: 85px;
  z-index: -1;
  right: 0px;
}


